# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/
.venv/
.env
.env.docker
# Django / Python stuff
*.sqlite3
db.sqlite3
*.log
.env

# Static and media files
staticfiles/
media/

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage / test cache
.coverage
.pytest_cache/
.cache/
